<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商品')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-goods-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品名称：</label>
                <div class="col-sm-8">
                    <input name="goodsName" id="goodsName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">白名单商品链接：</label>
                <div class="col-sm-8">
                   <div id="whiteLinksContainer">
                       <div class="input-group" style="margin-bottom: 5px;">
                           <input type="text" class="form-control white-link-input" placeholder="输入URI链接">
                           <span class="input-group-btn">
                               <button class="btn btn-default remove-link-btn" type="button" onclick="removeWhiteLink(this)">删除</button>
                           </span>
                       </div>
                   </div>
                   <button type="button" class="btn btn-primary btn-sm" onclick="addWhiteLinkField()" style="margin-top: 5px;">添加链接字段</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">黑名单商品链接：</label>
                <div class="col-sm-8">
                   <div id="blackLinksContainer">
                       <div class="input-group" style="margin-bottom: 5px;">
                           <input type="text" class="form-control black-link-input" placeholder="输入URI链接">
                           <span class="input-group-btn">
                               <button class="btn btn-default remove-link-btn" type="button" onclick="removeBlackLink(this)">删除</button>
                           </span>
                       </div>
                   </div>
                   <button type="button" class="btn btn-primary btn-sm" onclick="addBlackLinkField()" style="margin-top: 5px;">添加链接字段</button>
                </div>
            </div>
        </form>
        <!--<h2>*注意：需同时设置两个名单内的图片，且保证图片一一对应</h2>-->
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/goods"
        $("#form-goods-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                let formData = new FormData()
                
                // Get all white links
                let whiteLinks = [];
                $('.white-link-input').each(function() {
                    if ($(this).val().trim() !== '') {
                        whiteLinks.push($(this).val().trim());
                    }
                });
                
                // Get all black links
                let blackLinks = [];
                $('.black-link-input').each(function() {
                    if ($(this).val().trim() !== '') {
                        blackLinks.push($(this).val().trim());
                    }
                });
                
                // Add to form data
                for(let i = 0; i < whiteLinks.length; i++) {
                    formData.append("whiteUriLinks", whiteLinks[i]);
                }
                
                for(let i = 0; i < blackLinks.length; i++) {
                    formData.append("blackUriLinks", blackLinks[i]);
                }
                
                formData.append('goodsName', $('#goodsName').val());
                
                $.ajax({
                    url: prefix + "/add",
                    type: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $.modal.loading("正在处理中，请稍候...");
                        $.modal.disable();
                    },
                    success: function(result) {
                        console.log(result)
                        if (typeof callback == "function") {
                            callback(result);
                        }
                        $.operate.successCallback(result);
                    }
                })
            }
        }
        
        function addWhiteLinkField() {
            let newField = `
                <div class="input-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control white-link-input" placeholder="输入URI链接">
                    <span class="input-group-btn">
                        <button class="btn btn-default remove-link-btn" type="button" onclick="removeWhiteLink(this)">删除</button>
                    </span>
                </div>
            `;
            $('#whiteLinksContainer').append(newField);
        }
        
        function addBlackLinkField() {
            let newField = `
                <div class="input-group" style="margin-bottom: 5px;">
                    <input type="text" class="form-control black-link-input" placeholder="输入URI链接">
                    <span class="input-group-btn">
                        <button class="btn btn-default remove-link-btn" type="button" onclick="removeBlackLink(this)">删除</button>
                    </span>
                </div>
            `;
            $('#blackLinksContainer').append(newField);
        }
        
        function removeWhiteLink(button) {
            $(button).closest('.input-group').remove();
        }
        
        function removeBlackLink(button) {
            $(button).closest('.input-group').remove();
        }
    </script>
</body>
</html>